# Example 1

In [1]:
employee_data = ['Ali', 125000, 'Google', 5]

In [2]:
print(employee_data[0],"is working in",employee_data[2],"for",employee_data[3],"years and his salary is",employee_data[1])

Ali is working in Google for 5 years and his salary is 125000

# Example 2

In [3]:
studentData = ['Ahmed', 'Bilal', 'Government College University', 'Computer Science', 'BS', 50000,
               '28 Januray 2020', '05 February 2020']

In [4]:
print('Hello',studentData[0],studentData[1]+',',
"\nYour application is accepted for admission in",studentData[4],studentData[3],"in",studentData[2]+'.',
"\nYou have to submit fee",studentData[-3],"before",studentData[-2]+'.',
"\nYour classes will start from",studentData[-1]+'.',
'\nThanks')

Hello Ahmed Bilal,
Your application is accepted for admission in BS Computer Science in Government College University.
You have to submit fee 50000 before 28 Januray 2020.
Your classes will start from 05 February 2020.
Thanks

# Example 3

In [5]:
cities = ["Faisalabad", "Lahore", "Islamabad", "Peshawar", "Quetta", "Sahiwal", "Rawalpindi", "Sialkot"]

In [6]:
print(cities[:4])
print(cities[2:6])
print(cities[5:])

['Faisalabad', 'Lahore', 'Islamabad', 'Peshawar']
['Islamabad', 'Peshawar', 'Quetta', 'Sahiwal']
['Sahiwal', 'Rawalpindi', 'Sialkot']

In [7]:
print(cities[-4:-1])
print(cities[-5:])

['Quetta', 'Sahiwal', 'Rawalpindi']
['Peshawar', 'Quetta', 'Sahiwal', 'Rawalpindi', 'Sialkot']

# Example 4

In [8]:
studentData2 = ["Ali Raza", 22, 91.24, "Computer Science", 5, "University of Agriculture"]

In [9]:
studentData2.append('20 February 2019')
studentData2.append(8)

In [10]:
studentData2

['Ali Raza',
 22,
 91.24,
 'Computer Science',
 5,
 'University of Agriculture',
 '20 February 2019',
 8]

In [11]:
studentData2.insert(4,25000)
studentData2.insert(1,'M.Iqbal')

In [12]:
studentData2

['Ali Raza',
 'M.Iqbal',
 22,
 91.24,
 'Computer Science',
 25000,
 5,
 'University of Agriculture',
 '20 February 2019',
 8]

In [13]:
studentData2[0] = "Zohaib Ali"
studentData2[6] = 7

In [14]:
studentData2

['Zohaib Ali',
 'M.Iqbal',
 22,
 91.24,
 'Computer Science',
 25000,
 7,
 'University of Agriculture',
 '20 February 2019',
 8]

In [15]:
studentData2.remove("Computer Science")
studentData2.remove(91.24)

In [16]:
studentData2

['Zohaib Ali',
 'M.Iqbal',
 22,
 25000,
 7,
 'University of Agriculture',
 '20 February 2019',
 8]

In [17]:
abc=[]
abc.append(studentData2.pop(-1))
abc.append(studentData2.pop(3))

In [18]:
print(studentData2)
print(abc)

['Zohaib Ali', 'M.Iqbal', 22, 7, 'University of Agriculture', '20 February 2019']
[8, 25000]

# Example 5

In [19]:
employeeData = [["Ali", 35000, "Software Engineer"],
                ["Talha", 55000, "Product Manager"],
                ["Nasir", 79000, "Computer Engineer"],
                ["Khalid", 44000, "DBA"]]

In [22]:
gsalary=[]
total_salary=0
for a in employeeData:
    salary = a[1]
    total_salary +=salary
    if salary>50000:
        gsalary.append(salary)

In [23]:
print("These are employees having salary greater than 50000: ",gsalary)

These are employees having salary greater than 50000:  [55000, 79000]

In [24]:
print("Total salary of Employess is:",total_salary)

Total salary of Employess is: 213000

In [30]:
employeeData[2][1] = 90000
employeeData[2][2] = "Product Manager"
employeeData[3][1] = 50000

In [31]:
employeeData

[['Ali', 35000, 'Software Engineer'],
 ['Talha', 55000, 'Product Manager'],
 ['Nasir', 90000, 'Product Manager'],
 ['Khalid', 50000, 'DBA']]

# Example 6

In [37]:
username = "faizan1214"
password = "qwerty"
emailVerified = True
if username == "faizan1214" and password == "qwerty":
    if emailVerified == True:
        print("Login Succeed")
    else:
        print("Email is not Varified")
else:
    print("Incorrect Login Details")

Login Succeed